body{
    background-color: #202020;
    margin: 0;
}

h1{
    color: aliceblue;
    text-align: center;
    padding: 40px;
    margin-top: 7%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.middletext {
    text-align: justify;
    background-color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.downloadButton{
    background-color: chartreuse;
    color: black;
    padding: 32px 18px;
    border: none;
    text-align: center;
    font-size: 30px;
    margin-left: 45%;
    overflow: hidden;
    text-decoration: none;
    transition-duration: 0.2s;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 30px;
    cursor: pointer;
}

.downloadButton:hover{
    background-color: green;
    transition-duration: 0.2s;
    color: white;
}

.menu ul{
    position: fixed;
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
    width: 100%;
}

.menu li a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    transition-duration: 0.2s;
    font-family: Arial, Helvetica, sans-serif;
}

.menu li a:hover{
    background-color: white;
    color: black;
    transition-duration: 0.2s;
}

.active{
    background-color: chocolate;
}

.active:hover{
    background-color: white;
    color: black;
}

.contacts ul{
    position: fixed;
    list-style-type: none;
    bottom: 30px;
    margin: 0;
    padding: 0px 10px;
    width: 100%;
}

.contacts li a{
    float: left;
    padding-left: 10px;
    display: block;
    cursor: pointer;
}